body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: snow;
}
header .navbar{
    background-color: darkcyan;
    margin: 0;
    width: 1680px;
    margin-left: 13px;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    display: inline-block;
    margin-top: -150px;
}
.navbar h1{
    margin-top: 0;
    padding: 30px;
    padding-left: 1500px;
    color: snow;
}
.navbar h1 a{
    text-decoration: none;
    color: snow;
}
.navbar ul{
    margin-top: -97px;
}
.navbar ul li{
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}
.navbar ul li a{    
    text-decoration: none;
    color: snow;
}
header .h1{
    margin-top: 150px;
    margin-left: 5px;
}
button{
    margin-top: 50px;
    padding: 10px 15px;
    margin-left: 20px;
    background-color: grey;
    border-radius: 5px;
    border: 1px solid grey;
}
button a{
    color: snow;
    text-decoration: none;
}